SetEnv PHP_VER 5

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]
#AuthName "Page d'administration protégée"
#AuthType Basic
#AuthUserFile "/home/samszo/www/generateur/public/.htpasswd"
#Require valid-user
